<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcoMama">


        <!-- Activity Utama (Launcher) -->
        <activity
            android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity lainnya -->
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".ScanBarcodeActivity" android:exported="false" />
        <activity android:name=".ShowQRCodeActivity" android:exported="false" />
        <activity android:name=".AddItemActivity" android:exported="false" />
        <activity android:name=".AdminDashboardActivity" android:exported="false" />
        <activity android:name=".SuksesPointActivity" android:exported="false" />
        <activity android:name=".TukarPointActivity" android:exported="false" />
        <activity android:name=".QrScannerActivity" android:exported="false" />
        <activity android:name=".RiwayatSetorBotolActivity" android:exported="false" />
        <activity android:name=".RiwayatTukarPointActivity" android:exported="false" />
        <activity android:name=".SetorBotolActivity" android:exported="false" />
        <activity android:name=".SuksesActivity" android:exported="false" />
        <activity android:name=".BerandaActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".Artikel" android:exported="false" />
        <activity android:name=".DetailArtikel" android:exported="false" />
        <activity android:name=".DaurUlangActivity" android:exported="false" />
        <activity android:name=".HematEnergiActivity" android:exported="false" />
        <activity android:name=".EduEcoActivity" android:exported="false" />
        <activity android:name=".ChangeNameActivity" android:exported="false" />
        <activity android:name=".ChangePasswordActivity" android:exported="false" />
        <activity android:name=".ItemAdminActivity" android:exported="false" />
<!--        <activity android:name=".DashboardActivity" android:exported="false" />-->
        <activity android:name=".RegisterActivity" android:exported="false" />

    </application>

</manifest>
